[submodule "Monal/localization/external"]
	path = Monal/localization/external
	url = https://github.com/tmolitor-stud-tu/Monal-localzation-main.git
	branch = main
[submodule "Monal/shareSheet-iOS/localization/external"]
	path = Monal/shareSheet-iOS/localization/external
	url = https://github.com/tmolitor-stud-tu/Monal-localization-shareSheet.git
	branch = main
