# macOS
.DS_Store

# Xcode
Monal/Monal.xcodeproj/project.xcworkspace/xcuserdata/anurodhp.xcuserdatad/UserInterfaceState.xcuserstate
Monal/Monal.xcodeproj/xcuserdata/anurodhp.xcuserdatad/xcschemes/Monal.xcscheme
Monal/Monal.xcodeproj/xcuserdata/anurodhp.xcuserdatad/xcschemes/jrtplib-static.xcscheme
Monal/Monal.xcodeproj/xcuserdata/anurodhp.xcuserdatad/xcschemes/xcschememanagement.plist
contents.xcworkspacedata
._*

# Pods
Monal/Pods

#Don't accidentally commit localization state
Monal/localization/external
Monal/shareSheet-iOS/localization/external

# certs and other encrypted stuff
*.pem
*.key
*.csr
*.cer
*.mobileprovision
*.provisionprofile
*.p12
