os: osx
language: objective-c
xcode_workspace: Monal.xcworkspace
xcode_scheme: Monal
xcode_destination: platform=iOS Simulator,OS=13.6,name=iPhone 8
osx_image: xcode11.6
podfile: Podfile
before_install:
  - cd Monal
  - gem install cocoapods 
  - pod install
notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always
