[package]
name = "monal-html-parser"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["staticlib", "lib"]

[dependencies]
clap = {version = "4.5.20", features = ["derive"]}
scraper = "0.20.0"
