# build a new alpha release
name: alpha.build-push

# Controls when the action will run.
on:
  # Triggers the workflow on push
  push:
    branches: [ alpha.build ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  buildAndPublishAlpha:
    # The type of runner that the job will run on
    runs-on: self-hosted
    env:
      APP_NAME: "Monal"
      APP_DIR: "Monal.alpha.app"
      IOS_DEVELOPER_NAME: "Apple Distribution: Thilo Molitor (S8D843U34Y)"
      APP_DEVELOPER_NAME_APP_EXPORT: "Developer ID Application: Thilo Molitor (S8D843U34Y)"
      GCC_PREPROCESSOR_DEFINITIONS: "DEBUG=1 IS_ALPHA=1"
      BUILD_TYPE: "Debug"
      ALPHA_UPLOAD_SECRET: ${{ secrets.ALPHA_UPLOAD_SECRET }}
      EXPORT_OPTIONS_CATALYST_APP_EXPORT: "../scripts/exportOptions/Alpha_Catalyst_ExportOptions.plist"
      EXPORT_OPTIONS_IOS: "../scripts/exportOptions/Alpha_iOS_ExportOptions.plist"
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: Checkout submodules
        run: git submodule update --remote --merge
      - name: Make our build scripts executable
        run: chmod +x ./scripts/build.sh
      - run: chmod +x ./scripts/prepare-alpha-certs.sh
      - name: Prepare alpha certs
        run: ./scripts/prepare-alpha-certs.sh
      - name: Run build
        run: ./scripts/build.sh
      - run: |
          chmod +x ./scripts/upload.sh
          cd Monal/build/app/tar_release
          tar -cf "../$APP_NAME.tar" "$APP_DIR"
          cd ../../../..
      - name: Uploading to alpha site
        run: ./scripts/upload.sh
      - name: Notarize catalyst
        run: xcrun altool --notarize-app --primary-bundle-id monal.alpha --asc-provider S8D843U34Y -f ./Monal/build/app/Monal.zip  -u "$(cat /Users/build/apple_connect_upload_mail.txt)" -p "$(cat /Users/build/apple_connect_upload_secret.txt)"
      - uses: actions/upload-artifact@v2
        with:
          name: monal-catalyst
          path: Monal/build/app/Monal.tar
          if-no-files-found: error
      - uses: actions/upload-artifact@v2
        with:
          name: monal-ios
          path: Monal/build/ipa/Monal.ipa
          if-no-files-found: error
      - uses: actions/upload-artifact@v2
        with:
          name: monal-catalyst-dsym
          path: Monal/build/macos_Monal.xcarchive/dSYMs
          if-no-files-found: error
      - uses: actions/upload-artifact@v2
        with:
          name: monal-ios-dsym
          path: Monal/build/ios_Monal.xcarchive/dSYMs
          if-no-files-found: error
